<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- NODO RAIZ DEL DOCUMENTO -->
<hibernate-configuration>
  <!--
    SESSION-FACTORY : Determina a HIBERNATE como conectarse y manejar la conexión a la base de datos.
      Se utiliza UNA por cada base de datos a la que se conectará la aplicación.
  -->
  <session-factory>
    <!-- parametros para la conexion a la base de datos -->
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.url">jdbc:mysql://localhost/hibernatetest</property>
    <property name="connection.username">root</property>
    <property name="connection.password">a</property>

    <!-- Configuracion del pool interno -->
    <property name="connection.pool_size">1</property>

    <!-- Dialecto de la base de datos -->
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

    <!-- Otras propiedades importantes -->
    <property name="show_sql">true</property>
    <property name="hbm2ddl.auto">create</property>

    <!-- Archivos de mapeo -->
    <mapping resource="mappers/country.hbm.xml" />
    <mapping resource="mappers/person.hbm.xml" />
  </session-factory>
</hibernate-configuration>